<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swlianxi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C8CC46A1F8C70C400A06003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8CC47E1F8C70C500A06003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8CC4891F8C70C500A06003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
